*{
  margin: 0px;
  padding-left: 10px;
}


a {
  text-decoration: none;
  color: rgb(86, 86, 86);
}


 p {
  font-family: sans-serif;
  margin-bottom: 80px;
  color: rgb(38, 38, 38);

 }


h1 {
  color: black;
  font-size: 85px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}


h2 {
  color: rgb(9, 9, 184);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
  margin-top: 50px;
}

h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:600;
  padding: 0px
  
}

h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: smaller;
  margin-bottom: 35px;
  padding-left: 0px;
}


li {
  font-family: sans-serif;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  list-style:inside;
}


ul {
  padding: 0px;
  margin: 0px;
}


.job {
  margin-top: 65px;
}


.profile-pic {
  width: 540px;
  height: 598px;
}


