@import './vars';


$text-color: #544837;
$accent-color: #FF9900;


body {
  color: $text-color;
  font-family: "Poppins", sans-serif;
}

img {
    width: 100%;
    display: block;
}


.container {
  width: 100%;
  max-width: 1126px;
  margin: 0 auto;
}

.logo_link {
    width: 187px;
}


button {
  background-color: $accent-color;
}



.nav_link {
  text-transform: capitalize;
  color: $text-color;
  font-size: 14px;
  line-height: 2;
  text-decoration: none;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}


.button {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: $accent-color;
  color: white;
  text-transform: capitalize;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 11px 25px;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    background-color: #ffb74c;
  }

  &-transparent {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    background-color: transparent;
    color: #173A56;
    text-transform: capitalize;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 11px 25px;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      border-color: #11395b;
    }
  }
}


.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


